.profile{
    display: flex;
    height: max-content;
    width: 290px;
    flex-wrap: wrap;
    margin-top: 92px;
    gap: 11px;
    flex-direction:column;
}

.profile img{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    margin-left: 102px;
    cursor: pointer;
}

.profile span{
    width: 100%;
    margin-left: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}